* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: grey;
    height: 100vh;
    width: 100vw;
}
